body {
    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
body p {
    font-size: 16px;
    line-height: 1.32;
}

h1 {
    margin-top: 0px;
    font-weight: 700;
}

img {
    width: 100%;
}

.row {
    margin-bottom: 50px;
}

.top {
    margin-top: 40px;
}


input,
button {
    height: 35px;
    width: 150px;
    font-size: 15px;
    margin-top: 0px;
}

button {
    border: 0px;
    padding: 8px 10px;
    border-radius: 1px;

    cursor: pointer;
    color: #fff;
    background: #393294;
    text-align: left;

    -webkit-transition: 0.15s background ease;
       -moz-transition: 0.15s background ease;
        -ms-transition: 0.15s background ease;
         -o-transition: 0.15s background ease;
            transition: 0.15s background ease;
}
button:hover, button:active {
    background: #54a;
}

.cell-table {
    display: table;
    height: 100%;
}

.cell {
    display: table-cell;
    vertical-align:middle;
}

.login-form, .login-button {
    text-align: center;
}

.login-img {
    width: 150px;
    margin-bottom: 25px;
}
